<p>
    <strong>Bonjour <?php echo $username; ?></strong>
</p>

<p>Pour activer ce compte suivez le lien : </p>
<p> <?php echo $this->Html->link('Activer mon compte',$this->Html->url($link,true)); ?> </p>

/* 
 * To change this license header, choose License Headers in Project Properties.
 * To change this template file, choose Tools | Templates
 * and open the template in the editor.
 */

