<?php session_start(); ?>
<html>
    <head>
        <title>
            <?php $this->assign('title', 'Ajouter un device');?>
        </title>
    </head>
    <body>
<div class="device form">
<?php echo $this->Form->create('Device'); ?>
    <fieldset>
        <legend><?php echo __('Add Device'); ?></legend>
        <?php echo $this->Form->input('Description');
        echo $this->Form->input('serial');
        echo $this->Form->input('member email');
       
    ?>
    </fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>
    </body>
</html>

