<?php session_start(); ?>
<!--
<html>
    <head>
        <title>
            <?php $this->assign('title', 'Ajouter un membre');?>
        </title>
    </head>
    <body>
<div class="users form">
<?php echo $this->Form->create('memberadd'); ?>
    <fieldset>
        <legend><?php echo __('Add a member'); ?></legend>
        <?php echo $this->Form->input('id');
        echo $this->Form->input('email');
        echo $this->Form->input('password'); ?>
    </fieldset>
<?php echo $this->Form->end(__('soumettre')); ?>
</div>
 
    </body>
</html>-->