<?php session_start(); ?>
<!DOCTYPE html>
<html>

<body>


<?php echo $this->Html->link('add a workout', array('controller' => 'Accounts', 'action' => 'addworkout')); ?>

    <?php echo $this->Html->link('addlog', array('controller' => 'Accounts', 'action' => 'addlog')); ?>


</body>
</html>