<html>

<body>

    
<?php echo $this->Html->link('connexion', array('controller' => 'Accounts', 'action' => 'connexion   ')); ?>

    
    <?php echo $this->Html->link('inscription', array('controller' => 'Accounts', 'action' => 'inscription')); ?>

</body>
