<!DOCTYPE html>
<html>

<body>


<?php echo $this->Html->link('add a gathering', array('controller' => 'Accounts', 'action' => 'addgathering')); ?>
<?php echo $this->Html->link('addlog', array('controller' => 'Accounts', 'action' => 'addlog')); ?>


</body>
